<!doctype html>
<!--[if IE 8 ]>    <html class="ltie9"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="" ng-app="woordnl_lab2" lang="nl"> <!--<![endif]-->
<head>
	<!-- urn=urn%3Avpro%3Amedia%3Aprogram%3A40872983# -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Woord.nl embedded player</title>
	
	<!-- B&G R&D links -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
	<!-- BOOTSTRAP CSS -->	
		
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">		
	
	<!-- WOORD.NL JS-->
	<script src="/woordnl-rc/js/popcorn-js/plugins/popcorn.contextitem.js"></script>
	<script src="/woordnl-rc/js/popcorn-js/plugins/popcorn.semantictag.js"></script>
	<script src="/woordnl-rc/js/popcorn-js/plugins/popcorn.wikipedia.js"></script>
		
	<link rel="stylesheet" href="/woordnl-rc/css/woordnl_embed.css" />
    <link rel="stylesheet" href="http://files.vpro.nl/fontface/chevin/font.css" />

    <script src="/woordnl-rc/js/configuration.js" ></script>
    <script src="/woordnl-rc/js/urnMapping.js" ></script>
    <script src="/woordnl-rc/js/mapping-woordnl-asr.js" ></script>
    <script>
        (function() {
            window.vpro.configuration.imageServer = "http://images.poms.omroep.nl/image/";
            //window.vpro.configuration.apiServer = "http://rs.vpro.nl";

            var jsServer = window.vpro.configuration.jsServer;
            var projectVersion = window.vpro.JavascriptDirectory;

            document.write('<link rel="stylesheet" href="' + jsServer + '/' + projectVersion + '/vpro/woord/css/embed.css" />');
            document.write('<script src="' + jsServer + '/' + projectVersion + '/vpro/woord/js/vendor/modernizr.js"><\/script>');
            document.write('<script src="' + jsServer + '/' + projectVersion + '/vpro/purno/purno.js"><\/script>');
        })();
    </script>
</head>
<body ng-controller="playerCtrl">
	
	<!-- INITIALLY INVISIBLE, WILL BE INSERTED IN THE RIGHT POSITION WHEN THE PLAYER & DATA HAS BEEN LOADED -->
	
	<div id="context-grid" style="display:none;">
		
		<!-- KEYWORD CLOUD -->
	
		<div class="keyword_cloud" ng-show="keywords">
			<span ng-repeat="kw in keywords" style="font-size: {{getKeywordFontSize(kw.score)}}%" ng-click="loadKeywordTimes('230.39847574.asr1.hyp', kw.word)">
				{{kw.word}}
			</span>
		</div>
	
		<ul class="context-items">
		
			<!-- EEN BLOK PER TIJDSCODE -->			
			<li class="context-item" ng-repeat="tag in foundTags" ng-show="tag.links.length > 0" ng-class-odd="'odd'" ng-class-even="'even'">
				
				<!-- SHOW WIKI LINKS -->
				<div class="item-entities">
					<span class="item-entity" ng-repeat="e in tag.links">
						Wiki:<a href="{{e.url}}" target="_wiki">{{e.label}}</a>																														
					</span>
				</div>
				
				<!-- SHOW MAX 3 IMAGES FROM ANEFO -->
				<div class="item-photos" ng-repeat="e in tag.links" ng-class-odd="'odd'" ng-class-even="'even'">					
					<a ng-show="e.ANEFOData.length > 0" href="{{e.ANEFOData[0].url}}" target="_anefo">
						<img style="display:inline-block;" ng-src="{{e.ANEFOData[0].img1}}" title="{{e.ANEFOData[0].description}}">
					</a>
					<a ng-show="e.ANEFOData.length > 2" href="{{e.ANEFOData[2].url}}" target="_anefo">
						<img style="display:inline-block;" ng-src="{{e.ANEFOData[2].img1}}" title="{{e.ANEFOData[2].description}}">
					</a>
					<a ng-show="e.ANEFOData.length > 4" href="{{e.ANEFOData[4].url}}" target="_anefo">
						<img style="display:inline-block;" ng-src="{{e.ANEFOData[4].img1}}" title="{{e.ANEFOData[4].description}}">
					</a>				
				</div>
			</li>
		</ul>
	</div>
		
	
    <div id="wrapper">
        <div class="loader">
            <div class="loader-inner">
                <h1>woord.nl</h1>
                <div class="loading"></div>
            </div>
        </div>        
    </div>    

    <script src="//js.vpro.nl/ext/require/1.0.0/require.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>
        // Awful hack :(
        window.Zepto = window.jQuery;

        (function() {
            var config = window.vpro.configuration;
            define("domain-config", config);

            function getQuery() {
                var search = String(window.location.search).slice(1).split("&");
                var query = {};

                for (var i = 0, l = search.length; i < l; i++) {
                    var parts = search[i].split("=");
                    query[ parts[0] ] = decodeURIComponent( parts[1] );
                }

                return query;
            }

            function getUrn() {
                var url = String(window.location.search);
                var parts = url.match(/urn=(urn:vpro:media:.*:\d*)/);
                return parts[1];
            }

            require(
                {
                    baseUrl : "/",
                    paths : {
                        "ext" : config.jsServer +"/ext",
                        "vpro" : ''.concat(
                            config.jsServer,
                            "/",
                            window.vpro.JavascriptDirectory,
                            "/vpro"
                        )
                    },
                    urlArgs : "cachebust=" + Math.random(),
                    useHandlebarsForXmltemplate : true
                },
                [
                    "vpro/woord/js/embed",
                    "vpro/purno/shims"
                ],
                function (WoordEmbed) {
                    var embed = new WoordEmbed({
                        apiLocation :  config.apiServer,
                        disqusShortname : 'woordnl',
                        el : document.getElementById('wrapper'),
                        embedUrl : config.woordEmbedServer + '/woord',
                        query : getQuery()
                    });

                    embed.init();
                }
            );
        })();    
    </script>
   	<!-- INJECT R&D CODE HERE AND MAINLY MAKE SURE TO SELECT FETCH THE AUDIO ID-->
   	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>	
   	<script src="/woordnl-rc/js/woordnl_embed.js"></script>
</body>
</html>
