<!doctype HTML>

<html ng-app="andernieuws" lang="nl">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta name="description" content="">
	<meta name="author" content="Jaap Blom">

	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />

	<title>Ander nieuws topics</title>

	<!-- JQUERY -->

	<script src="./andernieuws/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- ANGULAR -->

	<script src="./andernieuws/bower_components/angular/angular.min.js"></script>

	<!-- (BOOTSTRAP) CSS -->

	<link rel="stylesheet" href="./andernieuws/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./andernieuws/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="./andernieuws/vendor/bootstrap-datepicker-1.5.0-dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="./andernieuws/css/an.css">



	<!--
	<link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
	 -->

</head>

<body>


	<!-- MAIN CONTAINER -->

	<div class="container">

		<div class="page-header">
			<h1>Zoek in Ander Nieuws en zie waar je zoekterm in het nieuws mee in verband wordt gebracht</h1>
		</div>

        <audio id="audioPlayer" controls>
		    <source id="audioSource" type="audio/mpeg">
		    Your browser does not support the audio element.
		</audio>

		<!-- THIS SECTION CONTROLS THE FEED ITEMS AND THEIR RELATED CONTEXT LINKS-->

		<section ng-controller="searchCtrl">


			<div id="anchor_tabs" role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#search" aria-controls="search" role="tab" data-toggle="tab">
							Search
						</a>
					</li>
					<li role="presentation">
						<a href="#keyword_search" aria-controls="keyword_search" role="tab" data-toggle="tab">
							Keyword search
						</a>
					</li>
					<li role="presentation">

						<div class="btn-group" role="group" aria-label="...">
							<button class="btn btn-danger" ng-click="toggleAudio()" ng-show="audioLoaded">
								Speel audio
						    	<span ng-show="audioPlaying" class="glyphicon glyphicon-pause"></span>
						    	<span ng-show="!audioPlaying" class="glyphicon glyphicon-play"></span>
							</button>
							<button class="btn btn-default" id="loading" ng-show="loading == true">
						    	<img src="./andernieuws/images/loading.gif" alt="Loading new feed items">
							</button>
						</div>
					</li>
				</ul>



				<div class="tab-content">

					<!-- GUIDLINES TAB -->
					<div role="tabpanel" class="tab-pane active" id="search">

						<div id="control_panel" class="container">

							<div class="row">

								<div class="col-md-12">

									<form class="form-inline" role="form" ng-submit="search()">
										<div class="form-group">
											<label for="feed">Zoekt!</label>
										</div>
										<div class="form-group">
											<input id="feed" ng-model="s" class="form-control" type="text" value="" size="60" placeholder="Bijvoorbeeld: Roken, Wilders, Duitsland, Defensie">
										</div>
										<div class="form-group">
											<div id="start_dp" class="input-group date">
  												<input id="start_date" type="text" class="form-control">
  												<span class="input-group-addon">
  													<i class="glyphicon glyphicon-th interactive"></i>
  												</span>
											</div>
										</div>
										<div class="form-group">
											<div id="end_dp" class="input-group date">
  												<input id="end_date" type="text" class="form-control">
  												<span class="input-group-addon">
  													<i class="glyphicon glyphicon-th interactive"></i>
  												</span>
											</div>
										</div>
										<div class="form-group">
											<input id="interval" ng-model="interval" class="form-control" type="text" value="3000" size="7"
											placeholder="3000">
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
										<br><br>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_nouns" value="0" checked> Nouns
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_verbs" value="1" checked> Verbs
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_adjectives" value="2" checked> Adjectives
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_adverbs" value="3" checked> Adverbs
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_pronouns" value="4" checked> Pronouns
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_numbers" value="5" checked> Numbers
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_prepositions" value="6" checked> Prepositions
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_determiners" value="7" checked> Determiners
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_interjections" value="8" checked> Interjections
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="s_include_conjunctions" value="9" checked> Conjunctions
										</label>
									</form>

									<!-- RESULT LIST -->

									<h3 ng-show="topicData">Gevonden onderwerpen: {{numTopics}} | Aantal voorkomens van zoekterm: {{searchFreq}}</h3>
									<ul id="results" class="label-list">


									    <li ng-repeat="topic in topicData"><!--ng-if="topic.itemCount > 1"-->
									        <span class="label label-{{getKeywordClass(topic.itemCount)}}"
									            ng-click="searchTopic(topic.topic)">
									            {{topic.topic}} ({{topic.itemCount}}) [{{topic.type}}]
									        </span>
									        &nbsp;
									        <span ng-repeat="item in topic.mediaItems" title="{{item.audioUrl}} - {{item.date}}" ng-click="playFragment(item)">
									            <span class="label label-default">{{item.date}}</span>
									        </span>
									    </li>

									</ul>

									<div class="alert alert-info" ng-show="numTopics == 0">Helaas geen resultaten: je zult even verder moeten zoeken</div>

								</div>

							</div>

						</div>

					</div><!-- TAB 1 -->


					<div role="tabpanel" class="tab-pane" id="keyword_search">

						<div id="keyword_panel" class="container">
							<div class="row">
								<div class="col-md-12">
									<form class="form-inline" role="form" ng-submit="searchKeywords()">
										<div class="form-group">
											<label for="feed">Periode</label>
										</div>
										<div class="form-group">
											<div id="start_dp_kw" class="input-group date">
  												<input id="start_date_kw" type="text" class="form-control">
  												<span class="input-group-addon">
  													<i class="glyphicon glyphicon-th interactive"></i>
  												</span>
											</div>
										</div>
										<div class="form-group">
											<div id="end_dp_kw" class="input-group date">
  												<input id="end_date_kw" type="text" class="form-control">
  												<span class="input-group-addon">
  													<i class="glyphicon glyphicon-th interactive"></i>
  												</span>
											</div>
										</div>
										<div class="form-group">
											<label for="feed">Aantal</label>
											<input id="kwlimit" ng-model="kwlimit" class="form-control" type="text" value="30" size="7"
											placeholder="30">
										</div>
										<div class="checkbox">
											<label>
												<input id="kw_order" type="checkbox" checked> Most popular
											</label>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
										<br><br>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_nouns" value="0" checked> Nouns
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_verbs" value="1" checked> Verbs
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_adjectives" value="2" checked> Adjectives
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_adverbs" value="3" checked> Adverbs
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_pronouns" value="4" checked> Pronouns
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_numbers" value="5" checked> Numbers
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_prepositions" value="6" checked> Prepositions
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_determiners" value="7" checked> Determiners
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_interjections" value="8" checked> Interjections
										</label>
										<label class="checkbox-inline">
											<input type="checkbox" id="include_conjunctions" value="9" checked> Conjunctions
										</label>
									</form>
								</div>

							</div>
							<br>

							<!-- GEVONDEN KEYWORDS -->

							<div class="row" ng-show="kwGroups">
								<div class="panel panel-default">
									<div class="panel-heading">
										Sorteer de resultaten op
										<div class="btn-group" role="group" aria-label="...">
											<button id="sort_score" type="button" ng-click="searchKeywords('s')"
												class="btn btn-primary" title="Sorteer de termen op bijzonderheid">
												Bijzonderheid
											</button>
											<button id="sort_freq" type="button" ng-click="searchKeywords('f')"
												class="btn btn-default" title="Sorteer de termen op de mate van voorkomendheid">
												Veelvoorkomendheid
											</button>
										</div>
									</div>
									<div class="panel-body">
										<!-- All results-->
										<div class="kwGroup">
											<h4>Alle woorden van eender welk type</h4>
											<ul class="label-list">
												<li ng-repeat="kw in keywords">
													<span ng-click="searchTopic(kw.word)"
													class="label label-{{getKwClass(kw)}}">{{kw.word}}({{kw.freq}}/{{kw.all}})</span>
												</li>
											</ul>
										</div>
										<!-- The results ordered per word type-->
										<div ng-repeat="(key, value) in kwGroups" class="kwGroup">
											<h4>{{key}}</h4>
											<ul class="label-list">
												<li ng-repeat="kw in value">
													<span ng-click="searchTopic(kw.word)"
													class="label label-{{getKwClass(kw)}}">
													{{kw.word}} ({{kw.freq}}/{{kw.all}})
													</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

			</div>


			<!-- AUDIO PLAYER (CURRENTLY ONLY USED FOR WOORD.NL SOURCES) preload="none"-->

			<audio id="audioPlayer" controls>
				<source id="audioSource" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>

		</section>

	</div>

</body>

<!-- GET THE BOOTSTRAP JS AT THE END -->

<script src="./andernieuws/bower_components/moment/min/moment.min.js"></script>
<script src="./andernieuws/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="./andernieuws/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./andernieuws/vendor/bootstrap-datepicker-1.5.0-dist/js/bootstrap-datepicker.min.js"></script>
<script src="./andernieuws/js/app.js"></script>
<script src="./andernieuws/js/audioplayer.js"></script>
<script src="./andernieuws/js/searchController.js"></script>


</html>