* {
	box-sizing:border-box;
}

@mixin fontSettings() {
	font-family: "chevin", "Helvetica", "Arial", sans-serif;
	-webkit-font-smoothing:antialiased;
}

body {
	background-color:black;	
}

header {
	margin-top:$defaultMargin;
}

h1, h2, h3, h4, a {
	@include fontSettings();
	color:$woordnlBlue;
}

h5, h6, p {
	@include fontSettings();
}

a {
	color:$woordnlBlue;
	&:hover {
		color:$woordnlPurple;
	}
}

.container {
	@include border-radius($defaultMargin * 2);
	background-color:white;
	margin:20px auto 0px auto;
	min-height:280px;
	padding:$defaultMargin * 3;
}

.glyphicon {
	cursor:pointer;
}

.btn-custom {
	color: white;
	background-color: $woordnlBlue;
	border: 1px solid transparant;

	&:hover {
		color:$woordnlPurple;
	}
	&:visited {
		color:$woordnlPurple;
	}
}

.rss-input {
	text-align:center;
	padding-bottom:2*$defaultMargin;
	border-bottom:1px dashed $woordnlBlue;
}

.feed-nav {
	padding:$defaultMargin 0px;
	.feed-nav-button:first-child {
		float:left;
	}
	.feed-nav-button:last-child {
		float:right;
	}
}

.logo {
	background: url("../images/woordnl-nav-sprite.png") no-repeat;
	background-position: 0 -336px;
	height: 96px;
	width: 463px;
}

.balloon-graphic {
	background: url("../images/woordnl-nav-sprite.png") no-repeat;
	background-position: 0 -728px;
	width: 230px;
	height: 44px;
	float:right;
	margin-right:8px;
}

.woordnl-link:after {
	position:absolute;
	content:'';
	width: 32px;
	height: 32px;
	right:20px;
	bottom:	22px;
	background: url("../images/woordnl-see-sprite.png") no-repeat;
	background-position: 0 -3640px;
}

.introduction {
	display:block;
	padding:$defaultMargin * 2;
	margin-top:$defaultMargin * 2;
	background-color:$woordnlBlue;
	border-radius:0px !important;
}

.alert-custom {
	display:block;
	padding:$defaultMargin * 2;
	margin-top:$defaultMargin * 2;
	background-color:$woordnlBlue;
	border-radius:0px !important;
}