
.feed-item {
	height:200px;	
	h3 {
		padding:0px;
		margin:10px 0px;
	}
}

.divider {	
	margin-bottom:2*$defaultMargin;	
	@include background-image(linear-gradient(white, #e3e3e3));
	@media all and (min-width:992px) {
		height:8*$defaultMargin;
	}
	@media all and (max-width:991px) {
		height:4*$defaultMargin;
		margin:2*$defaultMargin 0px;
	}

}

.woordnl-items {	
	.title {
		&:first-child {
			font-weight:bold;
		}
	}
	.tag {

	}
	.panel {
		background-color:$woordnlLightGrey;
		cursor:pointer;
		padding-bottom:2*$defaultMargin;
	}
	a {
		color:black;
	}
}

