#control_panel, #keyword_panel, #monthly_panel {
	margin-top:10px;
}

.loading {
	display:none;
}

#audioPlayer {
	display:none;
}

.label-list {
	margin:1em 0em;
	padding:0px;
	list-style:none;
}

.label-list li {
	float:left;
	font-size:140%;
	margin:0.25em 0.25em 0 0;
	cursor:pointer;
}

.transcript {
	list-style:none;
	margin-bottom:1em;
}

.transcript > .badge {
	float:right;
	margin-right: 15px;
	background-color:#428bca;
}

.transcript > .link {
	color:dodgerblue;
}

.transcript .keywords {
	padding-bottom:1em;
}

.asr-chunk {
	cursor:pointer;
}

.overall.keywords {
	padding-bottom:0.5em;
	margin-bottom:0.5em;
	border-bottom:1px dashed darkgray;
}

.highlight {
	color:goldenrod;
}

.kwGroup {
	width:100%;
	float:left;
}
.kwGroup h4 {
	text-align: center;
	background-color:#e3e3e3;
}