<div class="row">				
	<div class="col-md-4" ng-repeat="item in feedItems | slice:offset:offset+LIMIT track by $index">
		<div class="panel panel-default feed-item">


			<div class="panel-heading">
				<h6><strong>Bron</strong>: {{item.domain}} <strong>Datum</strong>: {{item.pubDate}}</h6>
			</div>

			<div class="panel-body">
				<h3><a href="{{item.url}}" target="_new" title="{{item.summary}}">{{item.title}}</a></h3>
				<h6>
					<strong>{{item.categories}}</strong>
				</h6>
			</div>

		</div>

		<div class="row divider">
			&nbsp;
		</div>

		<div class="row woordnl-items">
			<div class="col-md-12" ng-repeat="md in item.related['woordnl']">
				<div class="panel panel-default" ng-click="gotoWoordnl(md.mapping.pomsID)">
					<div class="panel-heading">
						<a ng-if="md.mapping.pomsID" target="_woordnl">
							<span class="title" ng-repeat="t in md.mapping.titles">
								{{t.value}}
							</span>
						</a>
						<span ng-if="!md.mapping.pomsID" class="title" ng-repeat="t in md.mapping.titles">
							{{t.value}}
						</span>
					</div>
					<div class="panel-body woordnl-link">
						<div ng-if="md.mapping">							
							<span ng-if="md.mapping">
								<strong>Uitgezonden op</strong>: {{md.mapping.sortDate}}
							</span><br><br>
							<strong ng-if="md.mapping.tags">Tags:</strong>
							<span class="tag" ng-repeat="tag in md.mapping.tags">
								<em>{{tag}}</em>
							</span><br>							
							<strong ng-if="md.keywords">More tags:</strong>
							<span class="tag" ng-repeat="kw in md.keywords">
								<em>{{kw.word}}</em>
							</span>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>