<header class="context_header" ng-show="selectedFeedItem">
	<h4>Context bij: {{selectedFeedItem.title}}</h4>
	<div class="context_menu">
		<span id="query_input" data-placement="left" 
		class="glyphicon glyphicon-question-sign" ng-click="popover('query_input')"></span>
		&nbsp;
		<span id="context_query" data-placement="left" 
		class="glyphicon glyphicon-info-sign" ng-click="popover('context_query')"></span>
	<div>
</header>

<tabset id="context_tabs" ng-show="selectedFeedItem">
	<tab ng-repeat="source in selectedFeedItem.sourceOrder" select="selectSource(source)">
		<tab-heading>
			<img ng-src="{{getSourceIconUrl(source)}}" class="source_icon" title="{{source}}"></img>
			{{source}}
		</tab-heading>
		<pane ng-include="getTemplateUrl(source)"></pane>
	</tab>
</tabset>