<ul class="feed_items">
	<li ng-repeat="item in feedItems track by $index">
		<div id="{{item.id}}" class="feed_item" ng-click="selectFeedItem($index)">
			<h3><a href="{{item.url}}" target="_new">{{item.title}}</a></h3>
			<h6>
				<strong>{{item.pubDate}}&nbsp;{{item.categories}}</strong>
				<img ng-src="{{getSourceIconUrl(source)}}" class="source_icon" ng-repeat="source in item.sourceOrder" title="{{source}}"></img>
			</h6>
			
			<span ng-bind-html="item.summary"></span>
		</div>		
	</li>	
</ul>